* {
    margin: 0;
}

.body {
    /* text-align: center; */
    margin: 0;
    background-color: #C0C0C0;

}

nav {
    background-color: rgb(123, 13, 127);
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

nav img {
    display: inline;
    padding: 10px;
    margin-left: 40px;

}

.navBar {
    list-style-type: none;
    /* margin-top: 20px; */
    padding: 20px;
    /* background-color: rgb(123, 13, 127); */
    /* width: 100%; */
    display: inline;

}

li {
    display: inline;
    padding: 30px;
    margin-top: 60px;
    color: white;
    /* text-align: center; */
}

h2 {
    font-size: 45px;
}

.contact-me {
    line-height: 0.5;
}

.homeContent {
    margin: 20px, 0px, 0px, 20px;
}

.profile {
    line-height: 1.5;
    text-align: left;

}

.rms {
    text-align: left;
}

h2,
h3 {
    color: rgb(123, 13, 127);
}

.rm {
    margin: auto;
}

.skill-row,
.clas {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
}

.middle-container,
.skills,
.profile,
.contact-me,
.bottom-container {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.contact-me {
    line-height: 1.5;
}

.web {
    width: 10%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.graphic {
    width: 10%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bottom-container {
    background-color: blueviolet;
}

.bottom-container p {

    color: #ffff
}

.footerlink {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}